<!DOCTYPE html>
<html>

<head>
    <meta charset=" UTF - 8" title>
    <meta charset="author= Igor Faria Neves">
    </title>
    <link rel="stylesheet" href="index.css" </head>

<body>
    <nav>
        <ul>
            <li1><a href=contato.html> Contato </a><br></li1>
            <li> <a href=sobremim.html> sobre mim </a><br></li>
            <li> <a href=formação.html> Formação </a><br></li>
            <li> <a href=atuaçãoprofissional.html> atuação profissional </a><br></li>
            <li><a href=Descricaotecnologica.html> descrição tecnologia </a><br></li>
            <li><a href=Portfolio.html> portfolio </a><br></li>
            <li><a href=paginaprincipal.html> pagina Principal </a><br></li>
        </ul>
    </nav>
    <hr>
    <h1>Igor Faria Neves

    </h1>
    <hr>
    <h2>Descrição tecnologica</h2>


    <h3>Alphafold 2</h3>AlphaFold é um programa de inteligência artificial desenvolvido pela DeepMind do Google que
    realiza previsões da estrutura de proteínas. O programa é projetado como um sistema de aprendizagem profunda.

    O software AlphaFold AI se destacou em duas versões principais. Uma equipe de pesquisadores que usou o AlphaFold
    1 (2018) ficou em primeiro lugar na classificação geral da 13ª Avaliação Crítica de Técnicas para Predição de
    Estrutura de Proteínas (CASP em inglês) em dezembro de 2018. O programa foi particularmente bem-sucedido em
    prever a estrutura mais precisa para alvos classificados como os mais difíceis pelos organizadores da
    competição, onde nenhuma estrutura de modelo existente estava disponível a partir de proteínas com uma sequência
    parcialmente semelhante. Uma equipe que usou o AlphaFold 2 (2020) repetiu a colocação na competição CASP em
    novembro de 2020. A equipe atingiu um nível de precisão muito maior do que qualquer outro grupo. Ela pontuou
    acima de 90 para cerca de dois terços das proteínas no teste de distância global CASP (global distance test ou
    GDT em inglês), um teste que mede o grau em que a estrutura prevista por um programa computacional é semelhante
    à estrutura determinada no experimento de laboratório, com 100 sendo uma correspondência completa, dentro do
    corte de distância usado para calcular o GDT.

    Os resultados do AlphaFold 2 no CASP foram descritos como "surpreendentes" e transformacionais. Alguns
    pesquisadores notaram que a precisão não é alta o bastante para um terço de suas previsões e que o programa não
    revela o mecanismo ou as regras do dobramento de proteínas para que o problema de dobramento de proteínas seja
    considerado resolvido. No entanto, tem havido um respeito generalizado pela conquista técnica.

    Desde 5 de março de 2021, a DeepMind não disponibilizou nenhum código para o AlphaFold 2 publicamente. Quatro
    meses depois de anunciar os resultados do CASP14, o site da empresa afirma: "Estamos bem no início de explorar a
    melhor forma de permitir que outros grupos usem nossas previsões de estrutura, ao lado de preparar um artigo
    revisado por pares para publicação."
    <h4>Algoritmo</h4>
    <p>Embora os detalhes completos dos algoritmos do AlphaFold 2020 não tenham sido divulgados publicamente, mais
        detalhes são esperados quando a DeepMind publicar artigos científicos descrevendo seus métodos e resultados.
        Sabe-se que a DeepMind treinou o programa em mais de 170.000 proteínas de um repositório público de
        sequências e estruturas de proteínas. O programa usa uma forma de rede de atenção, uma técnica de
        aprendizado profundo que se concentra em fazer o algoritmo de IA identificar partes de um problema maior e,
        em seguida, juntá-las para obter a solução geral. O treinamento geral foi conduzido em poder de
        processamento entre 100 e 200 GPUs. O treinamento do sistema neste hardware levou "algumas semanas", após as
        quais o programa levaria "uma questão de dias" para convergir para cada estrutura.
    <h4>Alphafold1</h4>
    <p>O AlphaFold 1 (2018) foi construído com base no trabalho desenvolvido por várias equipes na década de 2010,
        trabalho que analisou os grandes bancos de dados de sequências de DNA agora disponíveis de muitos organismos
        diferentes (a maioria sem estruturas 3D conhecidas), para tentar encontrar mudanças em diferentes resíduos
        que pareciam estar correlacionados, embora os resíduos não fossem consecutivos na cadeia principal. Tais
        correlações sugerem que os resíduos podem estar próximos fisicamente, embora não próximos na sequência,
        permitindo a estimativa de um mapa de contato. Com base em um trabalho recente antes de 2018, AlphaFold 1
        estendeu isso para estimar uma distribuição de probabilidade para quão perto os resíduos podem estar -
        transformando o mapa de contato em um mapa de distância provável. Ele também usou métodos de aprendizagem
        mais avançados do que antes para desenvolver a inferência. Combinando um potencial estatístico baseado nesta
        distribuição de probabilidade com a energia livre local calculada da configuração, a equipe foi então capaz
        de usar o gradiente de descida para uma solução que melhor se adequasse a ambos.
    <h4>Alphafold2</h4>
    <p>A versão 2020 do programa (AlphaFold 2, 2020) é significativamente diferente da versão original que ganhou o
        CASP 13 em 2018, de acordo com a equipe da DeepMind.[13][14]

        A equipe da DeepMind identificou que sua abordagem anterior, combinando física local com um guia potencial
        derivado do reconhecimento de padrões, tinha uma tendência de superestimar as interações entre os resíduos
        que estavam próximos na sequência em comparação com as interações entre os resíduos mais distantes ao longo
        da cadeia. Como resultado, AlphaFold 1 tinha uma tendência a preferir modelos com estrutura ligeiramente
        mais secundária (hélices alfa e folhas-beta) do que na realidade (uma forma de overfitting).[15]

        A equipe AlphaFold declarou em novembro de 2020 que acredita que o AlphaFold pode ser mais desenvolvido, com
        espaço para mais melhorias na precisão.
    </p>

    <h4>Abaixo video explicando o AlphaFolde detalhes:</h4>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/gg7WjuFs8F4?start=97"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <table>
        <table border="1" align="center">
            <tr>
                <th>Vantagens</th>
                <th>Desvantagens</th>
            </tr>
            <tr>
                <td>Velocidade</td>
                <td>Imprecisão</td>

            </tr>

</body>

</html>