<!DOCTYPE html>
<html>

<head>
  <meta charset=" UTF - 8" title>
  <meta charset="author= Igor Faria Neves">
  </title>
  <link rel="stylesheet" href="index.css" </head>

<body>
  <nav>
    <ul>
      <li1><a href=contato.html> Contato </a><br></li1>
      <li> <a href=sobremim.html> sobre mim </a><br></li>
      <li> <a href=formação.html> Formação </a><br></li>
      <li> <a href=atuaçãoprofissional.html> atuação profissional </a><br></li>
      <li><a href=Descricaotecnologica.html> descrição tecnologia </a><br></li>
      <li><a href=Portfolio.html> portfolio </a><br></li>
      <li><a href=paginaprincipal.html> pagina Principal </a><br></li>
    </ul>
  </nav>
  <hr>
  <h1>Igor Faria Neves

  </h1>
  <hr>
  <h2>Formação acadêmica e escolar</h2>



  <h3>Colegial</h3>
  <ul>
    <strong>
      <li>Colégio Santos Dumont(ensino fundamental e ensino médio)-2001 a 2014.</li>
    </strong>
  </ul>
  <h3>Cursos Técnicos</h3>
  <ul>
    <strong>
      <li>Técnico em informática-2012 a 2014.</li>
    </strong>
  </ul>
  <h3>Graduação</h3>
  <ul>
    <strong>
      <li>Faculdade Metodista Granbery, Sistemas de Informação-2022 até hoje.</li><strong>
  </ul>
  </nav>
  <hr>
  <h4>Redes Sociais</h4><a href="https://www.instagram.com/igor_faria11/" target=_blank>Instagram</a><br>
  <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D"
    target=_blank>Twitter
</body>

</html>