body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid green;
}

h1 {
    color: green;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

nav a:hover {
    color: green
}

li1 {
    border: 2px solid green;
    padding: 10px;
    border-radius: 15px;
}

div {
    display: flex;
    flex-direction: column;
    width: 25%
}

footer img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid green;
}